/* ---------------------------------------------------
    BRICKHOUSE STYLES
--------------------------------------------------- */
/* ---------------------------------------------------
    VARIABLES
--------------------------------------------------- */
/* -------------------- PROJECT STYLES -------------------- */
/* -------------------- SETTING VARIABLES -------------------- */
/* ---------------------------------------------------
    MIXINS
--------------------------------------------------- */
/* ---------------------------------------------------
    COMMON
--------------------------------------------------- */
/* -------------------- BASE STYLING -------------------- */
html {
  font-size: 20px; }

body {
  background-color: #1C1B19;
  color: #fff;
  font-family: AndesRoundedBook, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  padding-top: .5rem;
  text-transform: uppercase; }

h1 {
  font-size: 0; }

h2 {
  margin-bottom: 0;
  font-family: AndesRoundedExtraBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 11px;
  line-height: 1;
  text-transform: uppercase; }

h3 {
  font-family: AndesRoundedExtraBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 7px; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 2.4rem;
      letter-spacing: 15px; } }

h4 {
  margin-bottom: 1.5rem;
  font-family: AndesRoundedBook, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 7px; }

h5 {
  margin-bottom: 1rem;
  font-family: AndesRoundedExtraBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 7px;
  line-height: 1.5rem; }

h6 {
  font-family: AndesRoundedBook, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 4px; }

p {
  margin-bottom: 0; }

a {
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.25, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.25, 1); }
  a:hover, a:focus {
    opacity: .7;
    text-decoration: none; }

/* -------------------- CONTAINER -------------------- */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1340px; } }

/* ---------------------------------------------------
    NAVBAR
--------------------------------------------------- */
.navbar {
  width: 100vw;
  height: 4rem;
  padding: 1rem;
  background-color: #252525;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 1200px) {
    .navbar {
      height: 4.75rem; } }
  .navbar .navbar-brand {
    margin-left: .5rem; }
    .navbar .navbar-brand img {
      width: 45px;
      height: 45px; }
    @media screen and (min-width: 1200px) {
      .navbar .navbar-brand {
        margin-left: 0; } }
  .navbar .navbar-toggler {
    border-color: transparent; }
    .navbar .navbar-toggler span {
      filter: invert(100%); }
  .navbar .navbar-collapse {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100vw;
    padding: 1rem;
    border-top: 1px solid #979797;
    background-color: #252525;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5); }
    @media screen and (min-width: 1200px) {
      .navbar .navbar-collapse {
        position: static;
        margin-top: .25rem;
        width: auto;
        padding: 0;
        border-top: none;
        box-shadow: none; } }
  .navbar .navbar-links {
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .navbar .navbar-links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); } }
    .navbar .navbar-links .nav-link {
      padding: 1rem;
      color: #F8F8F8 !important;
      font-size: 0.7rem;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase; }
      @media screen and (min-width: 1200px) {
        .navbar .navbar-links .nav-link {
          margin: 0; } }
  .navbar .navbar-icons {
    padding-top: 1rem; }
    @media screen and (min-width: 1200px) {
      .navbar .navbar-icons {
        padding-top: 0; }
        .navbar .navbar-icons .nav-item + .nav-item {
          margin-left: 1rem; } }
    .navbar .navbar-icons .nav-link {
      padding: 1rem; }
      .navbar .navbar-icons .nav-link img {
        width: 30px;
        height: 30px; }

/* ---------------------------------------------------
    HEADER
--------------------------------------------------- */
header {
  height: 345px;
  margin-top: 4rem;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 1024px) {
    header {
      height: 485px; } }
  @media screen and (min-width: 1200px) {
    header {
      margin-top: 4.75rem;
      height: 785px; } }
  header .container, header .header-image {
    height: 100%; }
  header .header-text {
    width: 560px;
    margin-top: -1rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      header .header-text {
        margin-top: -1.5rem; } }
    @media screen and (min-width: 1024px) {
      header .header-text {
        margin-top: -2.5rem; } }
    header .header-text img {
      width: 90%; }
      @media screen and (min-width: 768px) {
        header .header-text img {
          width: 50%; } }

/* ---------------------------------------------------
    MAIN
--------------------------------------------------- */
/* -------------------- SECTION HEADER & CONTENT -------------------- */
.section-header-image {
  height: 250px;
  width: 100%;
  background-size: cover;
  margin-bottom: 1rem; }
  .section-header-image h3 {
    position: absolute;
    background-color: #1C1B19;
    padding: 1.5rem 1rem 1rem;
    line-height: 1.3; }
  @media screen and (min-width: 768px) {
    .section-header-image {
      height: 400px; } }
  @media screen and (min-width: 1024px) {
    .section-header-image {
      width: 75%;
      height: 530px;
      margin-bottom: 2rem; }
      .section-header-image h3 {
        padding: 2.5rem 2rem 2rem; } }
  @media screen and (min-width: 1200px) {
    .section-header-image {
      margin-bottom: 5rem; } }
  .section-header-image.align-left {
    margin-right: auto; }
    .section-header-image.align-left h3 {
      right: 0; }
      @media screen and (min-width: 1024px) {
        .section-header-image.align-left h3 {
          right: 15%; } }
  .section-header-image.align-right {
    margin-left: auto; }
    .section-header-image.align-right h3 {
      left: 0; }
      @media screen and (min-width: 1024px) {
        .section-header-image.align-right h3 {
          left: 15%; } }

.section-content + .section-content {
  margin-top: 2rem; }
  @media screen and (min-width: 1024px) {
    .section-content + .section-content {
      margin-top: 5rem; } }
.section-content .menu-item {
  margin-top: 2rem; }
  @media screen and (min-width: 1024px) {
    .section-content .menu-item {
      margin-top: 3rem; } }
  .section-content .menu-item .price {
    margin-left: 0.5rem;
    font-family: AndesRoundedBook, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px; }

/* -------------------- OUR MENU -------------------- */
.our-menu .our-menu-header-text {
  padding: 3rem 0; }
  @media screen and (min-width: 1024px) {
    .our-menu .our-menu-header-text {
      padding: 5rem 0; } }
  .our-menu .our-menu-header-text h2 {
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .our-menu .our-menu-header-text h2 {
        margin-left: 10%;
        text-align: left; } }
.our-menu .our-menu-section + .our-menu-section {
  margin-top: 4rem; }
  @media screen and (min-width: 1024px) {
    .our-menu .our-menu-section + .our-menu-section {
      margin-top: 5rem; } }
.our-menu .pizza-addons h5,
.our-menu .entrees-sides h5 {
  font-family: AndesRoundedSemiBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem; }
.our-menu .starters .section-header-image {
  background-image: url("../images/starters.jpg"); }
.our-menu .pizza .section-header-image {
  background-image: url("../images/pizza.jpg"); }
.our-menu .pizza .pizza-take-home {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #252525;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .our-menu .pizza .pizza-take-home {
      margin-top: 0; } }
  @media screen and (min-width: 1024px) {
    .our-menu .pizza .pizza-take-home {
      padding: 3rem; } }
  .our-menu .pizza .pizza-take-home img {
    margin-bottom: 1rem; }
    @media screen and (min-width: 1024px) {
      .our-menu .pizza .pizza-take-home img {
        margin-bottom: 2rem; } }
  .our-menu .pizza .pizza-take-home h5 {
    font-family: AndesRoundedExtraBold, "Helvetica Neue", Arial, sans-serif; }
.our-menu .entrees .section-header-image {
  background-image: url("../images/entrees.jpg"); }
.our-menu .beverages .section-header-image {
  background-image: url("../images/beverages.jpg"); }
.our-menu .beverages .beverages-main {
  margin-top: 3rem; }

/* -------------------- OUR STORY -------------------- */
.our-story {
  margin-top: 3rem; }
  @media screen and (min-width: 1024px) {
    .our-story {
      margin-top: 5rem; } }
  .our-story .our-story-image {
    height: 250px;
    background: url("../images/our-story.jpg") no-repeat center/cover; }
    @media screen and (min-width: 768px) {
      .our-story .our-story-image {
        height: 650px; } }
    @media screen and (min-width: 1200px) {
      .our-story .our-story-image {
        height: 990px; } }
  .our-story .our-story-text {
    margin-top: 3rem;
    padding: 0 0.75rem; }
    @media screen and (min-width: 768px) {
      .our-story .our-story-text {
        margin-top: 0; } }
    @media screen and (min-width: 1200px) {
      .our-story .our-story-text {
        max-width: 700px; } }
    .our-story .our-story-text h2 {
      margin-bottom: 1rem; }
      @media screen and (min-width: 768px) {
        .our-story .our-story-text h2 {
          margin-bottom: 2rem; } }

/* -------------------- HOURS & LOCATION -------------------- */
.hours-location .map {
  margin-top: 4rem; }
  .hours-location .map iframe {
    width: 100%;
    height: 300px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .hours-location .map iframe {
        height: 545px; } }
.hours-location .location-pictures {
  margin-top: -.5rem;
  margin-bottom: 3rem; }
  .hours-location .location-pictures .location-picture {
    height: 150px;
    background: no-repeat center/cover; }
    .hours-location .location-pictures .location-picture.long {
      height: 200px; }
    .hours-location .location-pictures .location-picture:nth-child(1) {
      background-image: url("../images/location-1.jpg"); }
    .hours-location .location-pictures .location-picture:nth-child(2) {
      background-image: url("../images/location-2.jpg"); }
    .hours-location .location-pictures .location-picture:nth-child(3) {
      background-image: url("../images/location-3.jpg"); }
    .hours-location .location-pictures .location-picture:nth-child(4) {
      background-image: url("../images/location-4.jpg"); }
    .hours-location .location-pictures .location-picture:nth-child(5) {
      background-image: url("../images/location-5.jpg"); }
    @media screen and (min-width: 768px) {
      .hours-location .location-pictures .location-picture {
        height: 250px; }
        .hours-location .location-pictures .location-picture.long {
          height: 350px; } }
    @media screen and (min-width: 1024px) {
      .hours-location .location-pictures .location-picture {
        height: 415px; }
        .hours-location .location-pictures .location-picture.long {
          height: 545px; } }
.hours-location .start-note {
  margin: 1rem 0 2rem; }
  @media screen and (min-width: 768px) {
    .hours-location .start-note {
      margin-top: 3rem 0 0; } }
  .hours-location .start-note p {
    margin-top: 2rem;
    color: #979797; }
    @media screen and (min-width: 768px) {
      .hours-location .start-note p {
        margin-top: 3rem; } }
    .hours-location .start-note p + p {
      margin-top: 1rem; }

/* ---------------------------------------------------
    FOOTER
--------------------------------------------------- */
footer {
  padding: 2rem 0 6rem; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 5rem 0 6rem; } }
  footer .footer-link a {
    position: relative;
    top: -.5rem;
    color: #979797;
    font-family: AndesRoundedSemiBold, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.7rem;
    letter-spacing: 4px;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      footer .footer-link a {
        font-size: 1rem; } }
    footer .footer-link a:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -.75rem;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #979797; }
