/* ---------------------------------------------------
    COMMON
--------------------------------------------------- */

/* -------------------- BASE STYLING -------------------- */

* {
	position: relative;
	box-sizing: border-box;
	overflow-x: hidden;
}

html {
	font-size: $font-size-base;
}

body {
	background-color: $body-bg-color;
	color: $primary-color;
	font-family: $font-family-book;
	font-size: 1rem;
}

h1, h2, h3, h4, h5 {
	padding-top: .5rem;
	text-transform: uppercase;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	margin-bottom: 0;
	font-family: $font-family-extrabold;
	font-size: $h2-font-size;
	letter-spacing: 11px;
	line-height: 1;
	text-transform: uppercase;
}

h3 {
	font-family: $font-family-extrabold;
	font-size: $h4-font-size;
	letter-spacing: 7px;
	@include md-and-up {
		font-size: $h3-font-size;
		letter-spacing: 15px;
	};
}

h4 {
	margin-bottom: 1.5rem;
	font-family: $font-family-book;
	font-size: $h4-font-size;
	letter-spacing: 7px;
}

h5 {
	margin-bottom: 1rem;
	font-family: $font-family-extrabold;
	font-size: $h5-font-size;
	letter-spacing: 7px;
	line-height: 1.5rem;
}

h6 {
	font-family: $font-family-book;
	font-size: $h6-font-size;
	letter-spacing: 4px;
}

p {
	margin-bottom: 0;
}

a {
	-webkit-transition: .2s cubic-bezier(0, 0, 0.25, 1);
	transition: .2s cubic-bezier(0, 0, 0.25, 1);
	&:hover, &:focus {
		opacity: .7;
		text-decoration: none;
	}
}

/* -------------------- CONTAINER -------------------- */

.container {
	@include xl-and-up {
		max-width: $xl-screen-width;
	};
}
