body {
	background-color: #1C1B19;
}

h1 {
	color: $white-text;
	font-family: $font;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 15px;
	line-height: 61px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	color: $white-text;
	font-family: $font;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 11px;
	text-transform: uppercase;
	line-height: 46px;
}

h3 {
	color: $white-text;
	font-family: $font;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 7px;
	text-transform: uppercase;
	line-height: 31px;
}

h4 {
	color: $white-text;
	font-family: $font;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-transform: uppercase;
}

p {
	color: $white-text;
	font-family: $font;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
}

.price {
	color: $white-text;
	font-family: $font;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 1px;
	margin-left: 20px;
}

.section-header-image {
	height: 530px;
	width: 75%;
	background-size: cover;
	margin-bottom: 110px;
	
	h1 {
		position: absolute;
		background-color: #1C1B19;
		padding: 24px 32px;
	}
}

.section-content {
	margin-bottom: 100px;
	
	.menu-item {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 767px) {
	.section-header-image {
		height: 350px;
		width: 100%;
		background-size: cover;
		margin-bottom: 50px;

		h1 {
			position: static;
			background-color: #1C1B19;
			padding: 0;
		}
	}
}