// Media queries
$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (max-width: 991px)";
$laptop: "screen and (max-width: 1199px)";
$desktop: "screen and (min-width: 1200px)";

// Font
$font: "AndesRoundedBook";
$header-big: "";
$header-small: "";


// Colors
$white-text: #fff;

// Sizes
$header-height: 115px;

